In [1]:
import os
import pandas as pd
import re

In [2]:
# Levanta todos os dados na pasta clean_data
path_raw = r'C:\Users\Rafael\Documents\GitHub\nubank_organizer\raw_data'
list_f_raw = os.listdir(path_raw)
print(list_f_raw)

['202411.txt']

In [62]:
# Abre o arquivo e salva as linhas em uma lista.
list_l_raw = []
with open(f'{path_raw}\{list_f_raw[-1]}', 'r', encoding='utf-8') as f:
    for l in f:
        list_l_raw.append(l)

list_l_raw

['26 OUT Drogaria_sp - Parcela 3/3 R$ 65,29\n',
 '26 OUT Fastshop Sa *Fastshop - Parcela 4/8 R$ 44,48\n',
 '26 OUT Drogaria_sp - Parcela 2/3 R$ 56,14\n',
 '26 OUT Drogaria Rds*Drogaria - Parcela 3/3 R$ 54,56\n',
 '26 OUT Mapfre Seguros - Parcela 4/10 R$ 259,00\n',
 '26 OUT Renner - Parcela 2/5 R$ 68,04\n',
 '27 OUT Tudem R$ 30,60\n',
 '28 OUT Mercadolivre*11produt R$ 337,98\n',
 '28 OUT Krug Coffee R$ 36,20\n',
 '28 OUT Pagamento em 28 OUT -R$ 1.984,42\n',
 '29 OUT M P M Servicos R$ 17,00\n',
 '29 OUT M P M Servicos R$ 35,00\n',
 '30 OUT Macielvicentedos R$ 8,00\n',
 '30 OUT Pg *Ton Cristiano R$ 30,00\n',
 '30 OUT Marcioemarcelo R$ 24,00\n',
 '30 OUT Banca de Temperos e Le R$ 4,10\n',
 '31 OUT Autopostopedra R$ 212,12\n',
 '02 NOV Pai & Filhos Frutaria R$ 10,00\n',
 '02 NOV Mp *Rmfrutas R$ 12,00\n',
 '02 NOV Transação de NuTag R$ 9,90\n',
 '02 NOV Transação de NuTag R$ 13,00\n',
 '02 NOV Milton de L Silva R$ 20,00\n',
 '02 NOV Transação de NuTag R$ 9,90\n',
 '02 NOV Dinarte Manuel Medeir R$ 24,00\n',
 '02 NOV Transação de NuTag R$ 13,00\n',
 '02 NOV Transação de NuTag R$ 13,00\n',
 '02 NOV Transação de NuTag R$ 9,90\n',
 '02 NOV Hideomineta R$ 48,30\n',
 '03 NOV Transação de NuTag R$ 13,00\n',
 '03 NOV Transação de NuTag R$ 9,90\n',
 '05 NOV Raia Drogasil R$ 30,97\n',
 '09 NOV Hideomineta R$ 57,80\n',
 '09 NOV Taylanelopeslima R$ 21,00\n',
 '09 NOV Milton de L Silva R$ 20,00\n',
 '09 NOV Mp *Rmfrutas R$ 24,00\n',
 '09 NOV Derivaldoribeiro R$ 5,00\n',
 '09 NOV Bananas Petrosino R$ 24,00\n',
 '10 NOV Castelinho dos Graos R$ 41,48\n',
 '10 NOV Razor Comercial - Parcela 1/6 R$ 540,85\n',
 '11 NOV Rodrigo Ogata Doceria R$ 40,00\n',
 '14 NOV Riachuelo Lo*Riachuelo - Parcela 1/10 R$ 71,10\n',
 '15 NOV Sacolao Saude Vl Maria R$ 140,22\n',
 '15 NOV Transação de NuTag R$ 36,80\n',
 '15 NOV Autopostopedra R$ 121,43\n',
 '16 NOV Farma Sante R$ 10,90\n',
 '17 NOV Transação de NuTag R$ 17,20\n',
 '18 NOV Cartpanda*Bobbars R$ 158,80\n',
 '19 NOV Sacolao Saude Vl Maria R$ 137,11\n',
 '19 NOV Zp *Hd Virtual - Parcela 1/6 R$ 61,84\n',
 '23 NOV Mp *Rmfrutas R$ 35,00\n',
 '23 NOV Transação de NuTag R$ 13,00\n',
 '23 NOV Transação de NuTag R$ 9,90\n',
 '23 NOV Hideomineta R$ 9,00\n',
 '23 NOV Bananas Petrosino R$ 20,00\n',
 '23 NOV Mp *Rmfrutas R$ 15,00\n',
 '23 NOV Pastel R$ 24,00\n',
 '23 NOV Jacquelinepereira R$ 11,00\n',
 '23 NOV Milton de L Silva R$ 20,00\n',
 '23 NOV Dinarte Manuel Medeir R$ 14,00\n',
 '23 NOV Transação de NuTag R$ 9,90\n',
 '23 NOV Hideomineta R$ 35,80\n',
 '23 NOV Transação de NuTag R$ 13,00\n',
 '24 NOV Transação de NuTag R$ 13,00\n',
 '24 NOV Transação de NuTag R$ 13,00\n',
 '24 NOV Transação de NuTag R$ 9,90\n',
 '24 NOV Transação de NuTag R$ 9,90\n',
 '24 NOV Condessa10postode R$ 127,07']

In [32]:
# Remover recebimentos (valor negativo)
list_l_clean = [l for l in list_l_raw if '-R$' not in l]

In [33]:
# Para cada linha, identificar o nome do produto.
list_name_raw = []
for l in list_l_clean:
# Encontra o índice do "R$"
    end = l.find("R$")

    # Extrai a substring entre os índices
    list_name_raw.append(l[6:end].strip())

list_name_raw

['Drogaria_sp - Parcela 3/3',
 'Fastshop Sa *Fastshop - Parcela 4/8',
 'Drogaria_sp - Parcela 2/3',
 'Drogaria Rds*Drogaria - Parcela 3/3',
 'Mapfre Seguros - Parcela 4/10',
 'Renner - Parcela 2/5',
 'Tudem',
 'Mercadolivre*11produt',
 'Krug Coffee',
 'M P M Servicos',
 'M P M Servicos',
 'Macielvicentedos',
 'Pg *Ton Cristiano',
 'Marcioemarcelo',
 'Banca de Temperos e Le',
 'Autopostopedra',
 'Pai & Filhos Frutaria',
 'Mp *Rmfrutas',
 'Transação de NuTag',
 'Transação de NuTag',
 'Milton de L Silva',
 'Transação de NuTag',
 'Dinarte Manuel Medeir',
 'Transação de NuTag',
 'Transação de NuTag',
 'Transação de NuTag',
 'Hideomineta',
 'Transação de NuTag',
 'Transação de NuTag',
 'Raia Drogasil',
 'Hideomineta',
 'Taylanelopeslima',
 'Milton de L Silva',
 'Mp *Rmfrutas',
 'Derivaldoribeiro',
 'Bananas Petrosino',
 'Castelinho dos Graos',
 'Razor Comercial - Parcela 1/6',
 'Rodrigo Ogata Doceria',
 'Riachuelo Lo*Riachuelo - Parcela 1/10',
 'Sacolao Saude Vl Maria',
 'Transação de NuTag',
 'Autopostopedra',
 'Farma Sante',
 'Transação de NuTag',
 'Cartpanda*Bobbars',
 'Sacolao Saude Vl Maria',
 'Zp *Hd Virtual - Parcela 1/6',
 'Mp *Rmfrutas',
 'Transação de NuTag',
 'Transação de NuTag',
 'Hideomineta',
 'Bananas Petrosino',
 'Mp *Rmfrutas',
 'Pastel',
 'Jacquelinepereira',
 'Milton de L Silva',
 'Dinarte Manuel Medeir',
 'Transação de NuTag',
 'Hideomineta',
 'Transação de NuTag',
 'Transação de NuTag',
 'Transação de NuTag',
 'Transação de NuTag',
 'Transação de NuTag',
 'Condessa10postode']

In [34]:
# Remover subtextos desnecessários de produto.
regex = r" - Parcela \d+/\d+"
list_name_clean = []
for n in list_name_raw:
    name_clean = re.sub(regex, "", n)
    list_name_clean.append(name_clean)

list_name_clean

['Drogaria_sp',
 'Fastshop Sa *Fastshop',
 'Drogaria_sp',
 'Drogaria Rds*Drogaria',
 'Mapfre Seguros',
 'Renner',
 'Tudem',
 'Mercadolivre*11produt',
 'Krug Coffee',
 'M P M Servicos',
 'M P M Servicos',
 'Macielvicentedos',
 'Pg *Ton Cristiano',
 'Marcioemarcelo',
 'Banca de Temperos e Le',
 'Autopostopedra',
 'Pai & Filhos Frutaria',
 'Mp *Rmfrutas',
 'Transação de NuTag',
 'Transação de NuTag',
 'Milton de L Silva',
 'Transação de NuTag',
 'Dinarte Manuel Medeir',
 'Transação de NuTag',
 'Transação de NuTag',
 'Transação de NuTag',
 'Hideomineta',
 'Transação de NuTag',
 'Transação de NuTag',
 'Raia Drogasil',
 'Hideomineta',
 'Taylanelopeslima',
 'Milton de L Silva',
 'Mp *Rmfrutas',
 'Derivaldoribeiro',
 'Bananas Petrosino',
 'Castelinho dos Graos',
 'Razor Comercial',
 'Rodrigo Ogata Doceria',
 'Riachuelo Lo*Riachuelo',
 'Sacolao Saude Vl Maria',
 'Transação de NuTag',
 'Autopostopedra',
 'Farma Sante',
 'Transação de NuTag',
 'Cartpanda*Bobbars',
 'Sacolao Saude Vl Maria',
 'Zp *Hd Virtual',
 'Mp *Rmfrutas',
 'Transação de NuTag',
 'Transação de NuTag',
 'Hideomineta',
 'Bananas Petrosino',
 'Mp *Rmfrutas',
 'Pastel',
 'Jacquelinepereira',
 'Milton de L Silva',
 'Dinarte Manuel Medeir',
 'Transação de NuTag',
 'Hideomineta',
 'Transação de NuTag',
 'Transação de NuTag',
 'Transação de NuTag',
 'Transação de NuTag',
 'Transação de NuTag',
 'Condessa10postode']

In [35]:
# Para cada linha, identificar o valor do produto.
list_value_clean = []
for l in list_l_clean:
# Encontra o índice do "R$"
    end = l.find("R$")

    # Extrai a substring entre os índices
    list_value_clean.append(l[end+2:].strip())

list_value_clean

['65,29',
 '44,48',
 '56,14',
 '54,56',
 '259,00',
 '68,04',
 '30,60',
 '337,98',
 '36,20',
 '17,00',
 '35,00',
 '8,00',
 '30,00',
 '24,00',
 '4,10',
 '212,12',
 '10,00',
 '12,00',
 '9,90',
 '13,00',
 '20,00',
 '9,90',
 '24,00',
 '13,00',
 '13,00',
 '9,90',
 '48,30',
 '13,00',
 '9,90',
 '30,97',
 '57,80',
 '21,00',
 '20,00',
 '24,00',
 '5,00',
 '24,00',
 '41,48',
 '540,85',
 '40,00',
 '71,10',
 '140,22',
 '36,80',
 '121,43',
 '10,90',
 '17,20',
 '158,80',
 '137,11',
 '61,84',
 '35,00',
 '13,00',
 '9,90',
 '9,00',
 '20,00',
 '15,00',
 '24,00',
 '11,00',
 '20,00',
 '14,00',
 '9,90',
 '35,80',
 '13,00',
 '13,00',
 '13,00',
 '9,90',
 '9,90',
 '127,07']

In [36]:
# Juntar em um dataframe.
df = pd.DataFrame(list(zip(list_name_clean, list_value_clean)), columns=['Produto', 'Valor'])
df.head()

                 Produto   Valor
0            Drogaria_sp   65,29
1  Fastshop Sa *Fastshop   44,48
2            Drogaria_sp   56,14
3  Drogaria Rds*Drogaria   54,56
4         Mapfre Seguros  259,00

In [37]:
# Correção de valor.
df['Valor'] = df['Valor'].str.replace('.', '')
df['Valor'] = df['Valor'].str.replace(',', '.').astype(float)
df.head()

                 Produto   Valor
0            Drogaria_sp   65.29
1  Fastshop Sa *Fastshop   44.48
2            Drogaria_sp   56.14
3  Drogaria Rds*Drogaria   54.56
4         Mapfre Seguros  259.00

In [38]:
# Remover valor negativo: pagamento da referência anterior.
df = df.loc[df['Valor'] > 0].reset_index(drop=True)
df.head()

                 Produto   Valor
0            Drogaria_sp   65.29
1  Fastshop Sa *Fastshop   44.48
2            Drogaria_sp   56.14
3  Drogaria Rds*Drogaria   54.56
4         Mapfre Seguros  259.00

In [52]:
# Classifique as categorias de cada produto.
dict_class = {
    'gasolina/estacionamento':[
        'Autopostopedra',
        'M P M Servicos',
        'Condessa10postode',
        ],
    
    'carro':[
        'Razor Comercial'
    ],

    'feira':[
        'Bananas Petrosino',
        'Banca de Temperos e Le',
        'Derivaldoribeiro',
        'Dinarte Manuel Medeir',
        'Hideomineta',
        'Macielvicentedos',
        'Frutaria',
        'Pg *Ton Cristiano',
        'Marcioemarcelo',
        'fruta',
        'Milton de L Silva',
        'Taylanelopeslima',
        'Jacquelinepereira'
    ],

    'supermercado':[
        'Castelinho dos Graos',
        'Sacolao Saude Vl Maria'
    ],

    'comer_fora':[
        'Krug Coffee',
        'Rodrigo Ogata Doceria',     # Nanica
        'Pastel'
    ],

    'eletrodomesticos':[
        'Fastshop'
    ],

    'farmacia':[
        'Bobbars',
        'Drogaria',
        'Farma',
        'Drogasil'
    ],

    'seguro':[
        'Mapfre Seguros'
    ],

    'nutag':[
        'Transação de NuTag'
    ],

    'roupa':[
        'Renner',
        'Riachuelo',
        'Zp *Hd Virtual'
    ],

    'outros':[
        'Tudem'
    ],

    'compras_online':[
        'Mercadolivre'
    ]
}

# Função para classificar uma linha
def classificar_linha(linha, dict_class):
    for categoria, palavras_chave in dict_class.items():
        for palavra in palavras_chave:
            if palavra in linha:
                return categoria
    return '?'

# Aplicando a função a cada linha e criando uma nova coluna
df['categoria'] = df['Produto'].apply(lambda x: classificar_linha(x, dict_class))
df.loc[df['categoria'] == '?']

Empty DataFrame
Columns: [Produto, Valor, categoria]
Index: []

In [53]:
# Agregar por produto.
df.groupby(['categoria', 'Produto']).agg({'Valor':'sum'})

                                                 Valor
categoria               Produto
carro                   Razor Comercial         540.85
comer_fora              Krug Coffee              36.20
                        Pastel                   24.00
                        Rodrigo Ogata Doceria    40.00
compras_online          Mercadolivre*11produt   337.98
eletrodomesticos        Fastshop Sa *Fastshop    44.48
farmacia                Cartpanda*Bobbars       158.80
                        Drogaria Rds*Drogaria    54.56
                        Drogaria_sp             121.43
                        Farma Sante              10.90
                        Raia Drogasil            30.97
feira                   Bananas Petrosino        44.00
                        Banca de Temperos e Le    4.10
                        Derivaldoribeiro          5.00
                        Dinarte Manuel Medeir    38.00
                        Hideomineta             150.90
                        Jacquelinepereira        11.00
                        Macielvicentedos          8.00
                        Marcioemarcelo           24.00
                        Milton de L Silva        60.00
                        Mp *Rmfrutas             86.00
                        Pai & Filhos Frutaria    10.00
                        Pg *Ton Cristiano        30.00
                        Taylanelopeslima         21.00
gasolina/estacionamento Autopostopedra          333.55
                        Condessa10postode       127.07
                        M P M Servicos           52.00
nutag                   Transação de NuTag      237.20
outros                  Tudem                    30.60
roupa                   Renner                   68.04
                        Riachuelo Lo*Riachuelo   71.10
                        Zp *Hd Virtual           61.84
seguro                  Mapfre Seguros          259.00
supermercado            Castelinho dos Graos     41.48
                        Sacolao Saude Vl Maria  277.33

In [55]:
# Agregar por produto.
df.groupby(['categoria']).agg({'Valor':'sum'}).sort_values('Valor')

                          Valor
categoria
outros                    30.60
eletrodomesticos          44.48
comer_fora               100.20
roupa                    200.98
nutag                    237.20
seguro                   259.00
supermercado             318.81
compras_online           337.98
farmacia                 376.66
feira                    492.00
gasolina/estacionamento  512.62
carro                    540.85

In [56]:
df['Valor'].sum()

3451.38

In [73]:
nm_file = list_f_raw[-1]
nm_file_csv = rf'C:\Users\Rafael\Documents\GitHub\nubank_organizer\clean_data\{nm_file[:-4]}.csv'
df.groupby(['categoria'], as_index=False).agg({'Valor':'sum'}).sort_values('Valor').to_csv(nm_file_csv, index=False)