In [1]:
import os
import pandas as pd
import re

In [2]:
# Levanta todos os dados na pasta clean_data
path_raw = r'C:\Users\Rafael\Documents\GitHub\nubank_organizer\raw_data'
list_f_raw = os.listdir(path_raw)
print(list_f_raw)

['202411.txt', '202412.txt', '202501.txt']

In [5]:
# Abre o arquivo e salva as linhas em uma lista.
list_l_raw = []
last_f_raw = list_f_raw[-1]
print(last_f_raw)
with open(f'{path_raw}\{last_f_raw}', 'r', encoding='utf-8') as f:
    for l in f:
        list_l_raw.append(l)

list_l_raw

202501.txt

['26 DEZ Fastshop Sa *Fastshop - Parcela 6/8 R$ 44,48\n',
 '26 DEZ Riachuelo Lo*Riachuelo - Parcela 3/10 R$ 71,03\n',
 '26 DEZ Razor Comercial - Parcela 3/6 R$ 540,83\n',
 '26 DEZ Mapfre Seguros - Parcela 6/10 R$ 259,00\n',
 '26 DEZ Pg *Nuvem Flordemimpro - Parcela 2/2 R$ 104,25\n',
 '26 DEZ Zp *Hd Virtual - Parcela 3/6 R$ 61,84\n',
 '26 DEZ Renner - Parcela 4/5 R$ 68,04\n',
 '29 DEZ B Bachir R$ 28,00\n',
 '30 DEZ Josimaralvesda R$ 26,00\n',
 '30 DEZ Pamelasoares R$ 15,00\n',
 '30 DEZ Sesc Vila Mariana R$ 46,50\n',
 '30 DEZ Mp *Rmfrutas R$ 20,00\n',
 '30 DEZ Sebastiaogetulio R$ 5,00\n',
 '30 DEZ Bananasnakano R$ 20,00\n',
 '30 DEZ Mp *Gopalarestaurante R$ 140,00\n',
 '30 DEZ Barraca do Sandro R$ 32,00\n',
 '30 DEZ Veronica Cordeiro de O R$ 7,00\n',
 '30 DEZ Rodrigo R$ 20,00\n',
 '30 DEZ Pagamento em 30 DEZ -R$ 2.370,43\n',
 '30 DEZ Felipeoliveira R$ 15,00\n',
 '30 DEZ Brunaantoniade R$ 30,00\n',
 '02 JAN Transação de NuTag R$ 77,00\n',
 '02 JAN Autopostopedra R$ 218,10\n',
 '03 JAN Pague Menos R$ 18,30\n',
 '03 JAN Drogaria Sao Paulo - NuPay R$ 21,62\n',
 '03 JAN Danielsebastian R$ 80,00\n',
 '04 JAN Hideomineta R$ 17,00\n',
 '04 JAN Barraca do Manoel R$ 6,00\n',
 '04 JAN Bananas Petrosino R$ 20,00\n',
 '04 JAN Mp *Rmfrutas R$ 30,00\n',
 '04 JAN Cleide Barbosa de Lim R$ 10,00\n',
 '04 JAN Pai & Filhos Frutaria R$ 37,00\n',
 '05 JAN Leroy Merlin R$ 196,68\n',
 '06 JAN Sesc Vila Mariana R$ 50,50\n',
 '06 JAN Sesc Vila Mariana R$ 14,00\n',
 '06 JAN Shopping Interlagos R$ 16,00\n',
 '06 JAN Walnutssorvetes R$ 40,00\n',
 '07 JAN Leroy Merlin R$ 91,09\n',
 '08 JAN Sesc Vila Mariana R$ 28,00\n',
 '08 JAN Sesc Vila Mariana R$ 14,00\n',
 '11 JAN Transação de NuTag R$ 13,00\n',
 '11 JAN Ricardobatista R$ 10,00\n',
 '11 JAN Taylanelopeslima R$ 12,00\n',
 '11 JAN Milton de L Silva R$ 85,00\n',
 '11 JAN Sesc Vila Mariana R$ 14,00\n',
 '11 JAN Bananas Petrosino R$ 20,00\n',
 '11 JAN Transação de NuTag R$ 9,90\n',
 '11 JAN Sesc Vila Mariana R$ 14,00\n',
 '11 JAN Derivaldoribeiro R$ 13,50\n',
 '11 JAN Mp *Rmfrutas R$ 15,00\n',
 '11 JAN Hideomineta R$ 48,40\n',
 '12 JAN Rodrigo Ogata Doceria R$ 44,00\n',
 '12 JAN Transação de NuTag R$ 4,18\n',
 '13 JAN Transação de NuTag R$ 9,90\n',
 '13 JAN Transação de NuTag R$ 13,00\n',
 '13 JAN Transação de NuTag R$ 13,00\n',
 '13 JAN Transação de NuTag R$ 9,90\n',
 '13 JAN Transação de NuTag R$ 9,90\n',
 '13 JAN Transação de NuTag R$ 13,00\n',
 '19 JAN Jvc Park Estacionament R$ 30,00\n',
 '20 JAN Transação de NuTag R$ 10,20\n',
 '20 JAN Transação de NuTag R$ 36,80\n',
 '20 JAN Padaria Vila Florenca R$ 18,80\n',
 '20 JAN Autopostopedra R$ 200,34\n',
 '21 JAN M P M Servicos R$ 17,00\n',
 '22 JAN Sesc Vila Mariana R$ 11,00\n',
 '22 JAN Hotel Fazenda Haras At - Parcela 1/10 R$ 204,48\n',
 '22 JAN Sesc Vila Mariana R$ 12,00\n',
 '24 JAN Pg *Ton Marmitex da R$ 83,24\n',
 '24 JAN Sesc Avenida Paulista R$ 15,50\n',
 '25 JAN Itidai Comercial R$ 141,15\n']

In [6]:
# Remover recebimentos (valor negativo)
list_l_clean = [l for l in list_l_raw if '-R$' not in l]

In [7]:
# Para cada linha, identificar o nome do produto.
list_name_raw = []
for l in list_l_clean:
# Encontra o índice do "R$"
    end = l.find("R$")

    # Extrai a substring entre os índices
    list_name_raw.append(l[6:end].strip())

list_name_raw

['Fastshop Sa *Fastshop - Parcela 6/8',
 'Riachuelo Lo*Riachuelo - Parcela 3/10',
 'Razor Comercial - Parcela 3/6',
 'Mapfre Seguros - Parcela 6/10',
 'Pg *Nuvem Flordemimpro - Parcela 2/2',
 'Zp *Hd Virtual - Parcela 3/6',
 'Renner - Parcela 4/5',
 'B Bachir',
 'Josimaralvesda',
 'Pamelasoares',
 'Sesc Vila Mariana',
 'Mp *Rmfrutas',
 'Sebastiaogetulio',
 'Bananasnakano',
 'Mp *Gopalarestaurante',
 'Barraca do Sandro',
 'Veronica Cordeiro de O',
 'Rodrigo',
 'Felipeoliveira',
 'Brunaantoniade',
 'Transação de NuTag',
 'Autopostopedra',
 'Pague Menos',
 'Drogaria Sao Paulo - NuPay',
 'Danielsebastian',
 'Hideomineta',
 'Barraca do Manoel',
 'Bananas Petrosino',
 'Mp *Rmfrutas',
 'Cleide Barbosa de Lim',
 'Pai & Filhos Frutaria',
 'Leroy Merlin',
 'Sesc Vila Mariana',
 'Sesc Vila Mariana',
 'Shopping Interlagos',
 'Walnutssorvetes',
 'Leroy Merlin',
 'Sesc Vila Mariana',
 'Sesc Vila Mariana',
 'Transação de NuTag',
 'Ricardobatista',
 'Taylanelopeslima',
 'Milton de L Silva',
 'Sesc Vila Mariana',
 'Bananas Petrosino',
 'Transação de NuTag',
 'Sesc Vila Mariana',
 'Derivaldoribeiro',
 'Mp *Rmfrutas',
 'Hideomineta',
 'Rodrigo Ogata Doceria',
 'Transação de NuTag',
 'Transação de NuTag',
 'Transação de NuTag',
 'Transação de NuTag',
 'Transação de NuTag',
 'Transação de NuTag',
 'Transação de NuTag',
 'Jvc Park Estacionament',
 'Transação de NuTag',
 'Transação de NuTag',
 'Padaria Vila Florenca',
 'Autopostopedra',
 'M P M Servicos',
 'Sesc Vila Mariana',
 'Hotel Fazenda Haras At - Parcela 1/10',
 'Sesc Vila Mariana',
 'Pg *Ton Marmitex da',
 'Sesc Avenida Paulista',
 'Itidai Comercial']

In [8]:
# Remover subtextos desnecessários de produto.
regex = r" - Parcela \d+/\d+"
list_name_clean = []
for n in list_name_raw:
    name_clean = re.sub(regex, "", n)
    list_name_clean.append(name_clean)

list_name_clean

['Fastshop Sa *Fastshop',
 'Riachuelo Lo*Riachuelo',
 'Razor Comercial',
 'Mapfre Seguros',
 'Pg *Nuvem Flordemimpro',
 'Zp *Hd Virtual',
 'Renner',
 'B Bachir',
 'Josimaralvesda',
 'Pamelasoares',
 'Sesc Vila Mariana',
 'Mp *Rmfrutas',
 'Sebastiaogetulio',
 'Bananasnakano',
 'Mp *Gopalarestaurante',
 'Barraca do Sandro',
 'Veronica Cordeiro de O',
 'Rodrigo',
 'Felipeoliveira',
 'Brunaantoniade',
 'Transação de NuTag',
 'Autopostopedra',
 'Pague Menos',
 'Drogaria Sao Paulo - NuPay',
 'Danielsebastian',
 'Hideomineta',
 'Barraca do Manoel',
 'Bananas Petrosino',
 'Mp *Rmfrutas',
 'Cleide Barbosa de Lim',
 'Pai & Filhos Frutaria',
 'Leroy Merlin',
 'Sesc Vila Mariana',
 'Sesc Vila Mariana',
 'Shopping Interlagos',
 'Walnutssorvetes',
 'Leroy Merlin',
 'Sesc Vila Mariana',
 'Sesc Vila Mariana',
 'Transação de NuTag',
 'Ricardobatista',
 'Taylanelopeslima',
 'Milton de L Silva',
 'Sesc Vila Mariana',
 'Bananas Petrosino',
 'Transação de NuTag',
 'Sesc Vila Mariana',
 'Derivaldoribeiro',
 'Mp *Rmfrutas',
 'Hideomineta',
 'Rodrigo Ogata Doceria',
 'Transação de NuTag',
 'Transação de NuTag',
 'Transação de NuTag',
 'Transação de NuTag',
 'Transação de NuTag',
 'Transação de NuTag',
 'Transação de NuTag',
 'Jvc Park Estacionament',
 'Transação de NuTag',
 'Transação de NuTag',
 'Padaria Vila Florenca',
 'Autopostopedra',
 'M P M Servicos',
 'Sesc Vila Mariana',
 'Hotel Fazenda Haras At',
 'Sesc Vila Mariana',
 'Pg *Ton Marmitex da',
 'Sesc Avenida Paulista',
 'Itidai Comercial']

In [9]:
# Para cada linha, identificar o valor do produto.
list_value_clean = []
for l in list_l_clean:
# Encontra o índice do "R$"
    end = l.find("R$")

    # Extrai a substring entre os índices
    list_value_clean.append(l[end+2:].strip())

list_value_clean

['44,48',
 '71,03',
 '540,83',
 '259,00',
 '104,25',
 '61,84',
 '68,04',
 '28,00',
 '26,00',
 '15,00',
 '46,50',
 '20,00',
 '5,00',
 '20,00',
 '140,00',
 '32,00',
 '7,00',
 '20,00',
 '15,00',
 '30,00',
 '77,00',
 '218,10',
 '18,30',
 '21,62',
 '80,00',
 '17,00',
 '6,00',
 '20,00',
 '30,00',
 '10,00',
 '37,00',
 '196,68',
 '50,50',
 '14,00',
 '16,00',
 '40,00',
 '91,09',
 '28,00',
 '14,00',
 '13,00',
 '10,00',
 '12,00',
 '85,00',
 '14,00',
 '20,00',
 '9,90',
 '14,00',
 '13,50',
 '15,00',
 '48,40',
 '44,00',
 '4,18',
 '9,90',
 '13,00',
 '13,00',
 '9,90',
 '9,90',
 '13,00',
 '30,00',
 '10,20',
 '36,80',
 '18,80',
 '200,34',
 '17,00',
 '11,00',
 '204,48',
 '12,00',
 '83,24',
 '15,50',
 '141,15']

In [10]:
# Juntar em um dataframe.
df = pd.DataFrame(list(zip(list_name_clean, list_value_clean)), columns=['Produto', 'Valor'])
df.head()

                  Produto   Valor
0   Fastshop Sa *Fastshop   44,48
1  Riachuelo Lo*Riachuelo   71,03
2         Razor Comercial  540,83
3          Mapfre Seguros  259,00
4  Pg *Nuvem Flordemimpro  104,25

In [11]:
# Correção de valor.
df['Valor'] = df['Valor'].str.replace('.', '')
df['Valor'] = df['Valor'].str.replace(',', '.').astype(float)
df.head()

                  Produto   Valor
0   Fastshop Sa *Fastshop   44.48
1  Riachuelo Lo*Riachuelo   71.03
2         Razor Comercial  540.83
3          Mapfre Seguros  259.00
4  Pg *Nuvem Flordemimpro  104.25

In [12]:
# Remover valor negativo: pagamento da referência anterior.
df = df.loc[df['Valor'] > 0].reset_index(drop=True)
df.head()

                  Produto   Valor
0   Fastshop Sa *Fastshop   44.48
1  Riachuelo Lo*Riachuelo   71.03
2         Razor Comercial  540.83
3          Mapfre Seguros  259.00
4  Pg *Nuvem Flordemimpro  104.25

In [37]:
# Classifique as categorias de cada produto.
dict_class = {
    'gasolina/estacionamento':[
        'Autopostopedra',
        'M P M Servicos',
        'Condessa10postode',
        'Shopping Interlagos',
        'Jvc Park Estacionament',
        'Estacionamento',
        'estacionamento',
        'park'
        ],
    
    'carro':[
        'Razor Comercial'
    ],

    'feira':[
        'Bananas Petrosino',
        'Banca de Temperos e Le',
        'Derivaldoribeiro',
        'Dinarte Manuel Medeir',
        'Hideomineta',
        'Macielvicentedos',
        'Frutaria',
        'Pg *Ton Cristiano',
        'Marcioemarcelo',
        'fruta',
        'Milton de L Silva',
        'Taylanelopeslima',
        'Jacquelinepereira',
        'Bananasnakano',
        'banana',
        'fruta',
        'Josimaralvesda',
        'Pamelasoares',
        'Sebastiaogetulio',
        'Barraca do Sandro',
        'Barraca',
        'Veronica Cordeiro de O',
        'Rodrigo',
        'Felipeoliveira',
        'Brunaantoniade',
        'Danielsebastian',
        'Cleide Barbosa de Lim',
        'Ricardobatista',
        'Padaria Vila Florenca',
        'padaria',
        'pao',
        'Padaria',
    ],

    'supermercado':[
        'Castelinho dos Graos',
        'Sacolao Saude Vl Maria',
        'Itidai Comercial'
    ],

    'comer_fora':[
        'restaurante',
        'Krug Coffee',
        'Rodrigo Ogata Doceria',     # Nanica
        'Pastel',
        'B Bachir',
        'Sesc Vila Mariana',
        'Mp *Gopalarestaurante',
        'Walnutssorvetes',
        'Pg *Ton Marmitex da',
        'Sesc Avenida Paulista',
    ],

    'eletrodomesticos':[
        'Fastshop'
    ],

    'farmacia':[
        'Bobbars',
        'Drogaria',
        'Farma',
        'Drogasil',
        'Pague Menos'
    ],

    'seguro':[
        'Mapfre Seguros'
    ],

    'nutag':[
        'Transação de NuTag'
    ],

    'roupa':[
        'Renner',
        'Riachuelo',
        'Zp *Hd Virtual'
    ],

    'outros':[
        'Tudem'
    ],

    'compras_online':[
        'Mercadolivre'
    ],

    'presente':[
        'Pg *Nuvem Flordemimpro'
    ],

    'casa':[
        'Leroy Merlin',

    ],
    
    'viagem':[
        'Hotel Fazenda Haras At',
    ]
}

# Função para classificar uma linha
def classificar_linha(linha, dict_class):
    for categoria, palavras_chave in dict_class.items():
        for palavra in palavras_chave:
            if palavra in linha:
                return categoria
    return '?'

# Aplicando a função a cada linha e criando uma nova coluna
df['categoria'] = df['Produto'].apply(lambda x: classificar_linha(x, dict_class))
df.loc[df['categoria'] == '?']

Empty DataFrame
Columns: [Produto, Valor, categoria]
Index: []

In [38]:
# Agregar por produto.
df.groupby(['categoria', 'Produto']).agg({'Valor':'sum'})

                                                     Valor
categoria               Produto
carro                   Razor Comercial             540.83
casa                    Leroy Merlin                287.77
comer_fora              B Bachir                     28.00
                        Mp *Gopalarestaurante       140.00
                        Pg *Ton Marmitex da          83.24
                        Sesc Avenida Paulista        15.50
                        Sesc Vila Mariana           204.00
                        Walnutssorvetes              40.00
eletrodomesticos        Fastshop Sa *Fastshop        44.48
farmacia                Drogaria Sao Paulo - NuPay   21.62
                        Pague Menos                  18.30
feira                   Bananas Petrosino            40.00
                        Bananasnakano                20.00
                        Barraca do Manoel             6.00
                        Barraca do Sandro            32.00
                        Brunaantoniade               30.00
                        Cleide Barbosa de Lim        10.00
                        Danielsebastian              80.00
                        Derivaldoribeiro             13.50
                        Felipeoliveira               15.00
                        Hideomineta                  65.40
                        Josimaralvesda               26.00
                        Milton de L Silva            85.00
                        Mp *Rmfrutas                 65.00
                        Padaria Vila Florenca        18.80
                        Pai & Filhos Frutaria        37.00
                        Pamelasoares                 15.00
                        Ricardobatista               10.00
                        Rodrigo                      20.00
                        Rodrigo Ogata Doceria        44.00
                        Sebastiaogetulio              5.00
                        Taylanelopeslima             12.00
                        Veronica Cordeiro de O        7.00
gasolina/estacionamento Autopostopedra              418.44
                        Jvc Park Estacionament       30.00
                        M P M Servicos               17.00
                        Shopping Interlagos          16.00
nutag                   Transação de NuTag          219.78
presente                Pg *Nuvem Flordemimpro      104.25
roupa                   Renner                       68.04
                        Riachuelo Lo*Riachuelo       71.03
                        Zp *Hd Virtual               61.84
seguro                  Mapfre Seguros              259.00
supermercado            Itidai Comercial            141.15
viagem                  Hotel Fazenda Haras At      204.48

In [55]:
# Agregar por produto.
df.groupby(['categoria']).agg({'Valor':'sum'}).sort_values('Valor')

                          Valor
categoria
outros                    30.60
eletrodomesticos          44.48
comer_fora               100.20
roupa                    200.98
nutag                    237.20
seguro                   259.00
supermercado             318.81
compras_online           337.98
farmacia                 376.66
feira                    492.00
gasolina/estacionamento  512.62
carro                    540.85

In [56]:
df['Valor'].sum()

3451.38

In [73]:
nm_file = list_f_raw[-1]
nm_file_csv = rf'C:\Users\Rafael\Documents\GitHub\nubank_organizer\clean_data\{nm_file[:-4]}.csv'
df.groupby(['categoria'], as_index=False).agg({'Valor':'sum'}).sort_values('Valor').to_csv(nm_file_csv, index=False)